.projects{
    background-color: var(--bg-dark-1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    position: relative;


    &__title{
        & h2{
            margin-bottom: 0;
            
            
        }
        & p{
            margin-top: 0;
        }

        @media only screen and (max-width: 500px) {
            & h2{
                line-height: 4rem;
                margin-bottom: 1rem;
                margin-top: 4.5rem;
            }
            & p{
                margin-bottom: 5rem;
            }
        }
    }

    

}