.projects{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    &__title{
        & p{
            margin-top: 0;
        }

        @media only screen and (max-width: 500px) {
            & p{
                margin-bottom: 2rem;
            }
        }
    }

    

}