.posts{
    list-style-type: none;
    padding-left: 0;
    margin: 2rem 0;
    
    .post{
        border: 1px solid var( --component-color);
        border-radius: 1rem; 
        width: 55vw;
        height: 100%;
        margin-top: 3rem;
        padding: 1rem;
        box-shadow: 0 1rem 1rem  rgba(17, 16, 16, 0.6);
     
        &__info{
          font-style: italic;
       }
    
       @media only screen and (max-width: 900px) {
         width: 100%;
       }
        
    }
    


}

.post-body{
    width: 60vw;

    &__info{
         text-align: center;
         margin-bottom: 3rem;

        h1{
            margin-bottom: 1rem; 
        }

        span{
            font-style: italic;
        }
    }

    &__content{

        img{
            width: 70%;
            height: 40rem;
            margin: 0 auto;
            display: block;
        }
    }

    &__links{
        display: flex;
        flex-direction: row;
        margin: 3rem 0;
        justify-content: space-between;
        flex-wrap: wrap;

        h3{
            margin: .5rem 0;

            & a{
                color:var(--link-color);

                &:hover{
                    color: var(--text-color-light);
                }
            }
            
        }

        span{
            font-size: 1.5rem;
        }
    }

    &__share-buttons {
        margin: 3rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        & span{
           margin-right: 2rem;
        }
    }

    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}