.posts{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
    @media only screen and (max-width: 500px) {
       padding-top: 5rem;
    }
    
    .post{
        border: 1px solid var( --component-color);
        border-radius: 1rem; 
        width: 55vw;
        margin-bottom: 5rem;
        padding: 1rem;
        box-shadow: 0 2px 4px  rgba(17, 16, 16, 0.6);
     
        &__info{
          font-style: italic;
       }
    
       @media only screen and (max-width: 900px) {
         width: 100%;
       }
        
    }
    


}

.post-body{
    font-size: 1.9rem;
    width: 60vw;

    &__content, &__share-buttons, &__links, &__comment{
        border-bottom: 0.2px solid var(--component-color);
        padding-bottom: 2rem;
    }

    &__info{
         text-align: center;
         margin-bottom: 3rem;

        h1{
            margin-bottom: 1rem; 
        }

        span{
            font-style: italic;
        }
    }

    &__content{
        line-height: 1.7;

        .deckgo-highlight-code-container{
            line-height: 0 !important;
        }
          


        img{
            width: 80%;
            height: 40rem;
            margin: 0 auto;
            display: block;
        }
    }

    &__links{
        display: flex;
        flex-direction: row;
        margin: 3rem 0;
        justify-content: space-between;
        flex-wrap: wrap;

        h3{
            margin: .5rem 0;

            & a{
                color:var(--link-color);

                &:hover{
                    color: var(--text-color-light);
                }
            }
            
        }

        span{
            font-size: 1.5rem;
        }
    }

    &__share-buttons {
        margin: 3rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        & span{
           margin-right: 2rem;
        }
    }

    &__hero-image{
        margin-bottom: 7rem;
        margin-top: 5rem;
    }

    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}