.taglist{
   width: 100%;
   min-height: 10vh;

  ul{
     list-style-type:none ;
     padding-left: 0;
     margin: 1rem 0; 
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;

    & .tag {
      margin-right: 10px;
      margin-top: 5px;
      & a:hover {
        color: var(--link-color);
      }
    }
     
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
    min-height: 15vh;
   }
}