.button{
    background-color: transparent;
    color: var(--white-primary);
    border: 1px solid var( --contrast-color);
    min-width: 10rem;
    height: 6rem;
    padding: 1rem 2rem;
    font-size: 1.9rem;
    font-family: inherit;
    border-radius: 5px;
    margin-top: 3rem;
    text-transform: uppercase;
    background: linear-gradient(to right, var( --contrast-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;

    &--small{
        font-size: 2rem; 
        text-transform: capitalize;
        margin-top: 3rem;
        padding: 1rem 8rem;
        height: 6rem;
        font-weight: bold;
    }


    &:hover{
        cursor: pointer;
        border: 1px solid var( --contrast-color);
        background-color: var( --contrast-color);
        background-position: left bottom;
    }
}

