.button{
    background-color: var( --contrast-color);
    color: var(--text-color-light);
    border:none;
    min-width: 10rem;
    height: 6rem;
    padding: 1rem 2rem;
    font-size: 1.9rem;
    border-radius: 5px;
    margin-top: 3rem;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px rgba(17, 16, 16, 0.8);

    &--small{
        font-size: 1.5rem; 
        text-transform: capitalize;
        margin-top: 1.5rem;
        padding: 1rem .5rem;
        height: 4.5rem;
        font-weight: bold;
    }

    &--center{
        margin: 1rem auto;

        @media only screen and (max-width: 500px) {
            margin: 3rem auto 0;
        }
    }

    &:hover{
        cursor: pointer;
        background: transparent;
        border: 2px solid var( --contrast-color);
    }
}

