.speaking{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    &__list{
        padding-left: 0;

        &__item{
            margin-bottom: 2rem;


            &::marker{
                font-size: 2.8rem;
                transform: translateY(-5px);
            }

            & h4{
              margin-bottom: 5px;

              & a:hover{
                  color:var(--link-color)
              }
            }
            & p{
                margin: 0;
                margin-top: 4px;
            }

            & span{
                border-top: .5px solid var(--white-secondary);
                width: 38rem;
                display: block; 

                @media only screen and (max-width: 550px) {
                    width: 95%;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        & h2{
            margin-bottom: 0;
        }
        
        & >div > p{
            margin-top: 0;
        }

    }
}

.talks{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    @media only screen and (max-width: 850px) {
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
        justify-content: center;

        & .speaking__list{
            width: 100%;
        }

        & ul:nth-of-type(1){
            margin-bottom: 0;
        }

        & div:nth-of-type(2) {
          & ul{
            margin-top: 0;
          }
        }
    }

    
}