.info{
    background-color: var(--bg-dark-2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    
    &__list{
        padding-left: 2.5rem;

        &__item{
            &::marker{
                font-size: 2.8rem;
                transform: translateY(-5px);
            }

            & h4{
              margin-bottom: 5px;

              & a:hover{
                  color:var(--link-color)
              }
            }
            & p{
                margin: 0;
                margin-top: 4px;
            }

            & span{
                border-top: .5px solid;
                width: 33rem;
                display: block; 

                @media only screen and (max-width: 900px) {
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        & h2{
            margin-bottom: 0;
        }
        
        & >div > p{
            margin-top: 0;
        }

    }
}

