
.projects-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;

    @media only screen and (max-width: 800px) {
        width: 100vw;
        justify-content: space-evenly;
        margin-top: 1.5rem;
    }

    @media only screen and (min-width: 1420px) {
        width: 100rem;
    }
}

