.contact{
    background-color: var(--bg-dark-2);

    & h2{
        margin-bottom: 0;
    }
    & p{
        margin-top: 0;
    }

    @media only screen and (max-width: 500px) {
        padding-bottom: 2rem;
    }
}