.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    @media only screen and (max-width: 500px) {
        padding-bottom: 2rem;
    }
}