//Base styles for the whole site. Fnd general classes, Utility classes and vaiables here

* {
  box-sizing: border-box;
}

:root {
  --contrast-color: rgb(229, 49, 112);
  --bg-dark-1: #232946;
  --bg-dark-2: #2d2948;
  --component-color: #b8c1ec;
  --text-color-light: #fffffe;
  --secondary-font-family: "Ribeye Marrow", cursive;
  --primary-font-family: "Rosario", sans-serif;
  --link-color: rgb(238, 187, 195);

}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px. Root font size is 16px i.e 100%*/
  scroll-behavior: smooth;

  //changing root font size of screen sizes. NB: Base styling is laptop screensize centric.
  @media only screen and (min-width: 1500px) {
    font-size: 100%; //16px
  }
  @media only screen and (max-width: 500px) {
    font-size: 50%; //1rem = 8px
  }
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color-light);
  font-family: var(--primary-font-family);
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

h2{
  margin-top: 3rem;
}

/*Utility Classes*/
.u-margin-top-s {
  margin-top: 2rem;
}
.u-center {
  text-align: center;
}

/*general Classes*/

.nav,
.header,
.footer {
  padding: 2rem 10rem;

  @media only screen and (max-width: 1000px) {
    padding: 2rem 5rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 1rem 2rem;
  }
}

.info, .contact, .projects{
  padding: 5rem 10rem;

  & > div{
    width: 38vw;
  }

  @media only screen and (max-width: 1000px) {
    padding: 5rem 5rem;
  }

  @media only screen and (max-width: 770px) {
    padding: 2rem 5rem 8.5rem 5rem;

    & > div{
      width: 100vw;
    }
  }

  @media only screen and (max-width: 500px) {
    padding: 2rem 3rem 8.5rem 3rem;

  }
}

.container {
  background-color: var(--bg-dark-2);
  margin: 0 0;
  padding: 5rem 10rem;
  padding-top: 0;
  border-bottom: 0.5px solid var(--component-color);
  border-top: 0.5px solid var(--component-color);
  min-height: 80vh;


  @media only screen and (max-width: 1300px) {
    padding: 5rem 8rem;
    padding-top: 0;
  }

  @media only screen and (max-width: 1000px) {
    padding: 5rem 5rem;
    padding-top: 0;
  }

  @media only screen and (max-width: 500px) {
    padding: 5rem 2rem;
    padding-top: 0;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.not-found {
  text-align: center;

  h1 {
    font-size: 7rem;
    font-family: var(--secondary-font-family);
    margin: 2rem 0;
  }

  p {
    font-style: italic;
  }

  &__emoji {
    display: block;
    font-size: 20rem;
  }
}

.title {
  font-family: "Ribeye Marrow", cursive;
  font-size: 3.4rem;
  line-height: 67px;
  text-transform: uppercase;
  text-align: center;
}

.inline-link {
  color: var(--link-color);
  font-style: italic;
}

.sidebar{
  position: relative;
  width: 22vw;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

  @media only screen and (max-width: 900px) {
    width: 100%;
    margin-top: 5rem;
  }
}

.tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

 .tag{
     background-color: var(--component-color);
     box-shadow: 0 1.5px 4px  rgba(17, 16, 16, 0.6);
     padding: .8rem;
     margin: 1rem 5px;
     border-radius: 6px;
     cursor: pointer;

      & a{
         color: var(--bg-dark-1);
      }
}

/*Alternate styles for light mode*/

.light-mode{

  color: var(--bg-dark-1);

  .button a{
    color: var( --text-color-light);
  }

  .post__title {
    a {
      color: var(--bg-dark-1);
    }
  }

  .nav__item a, .info__list h4 a{
    color: var(--bg-dark-1);

    &:hover{
       color: var(--link-color);
    }
  }

  .post-body__links  a{
    color: black;

    &:hover{
      color: black;
    }
  }

  button:hover{
    a{
      color: var(--bg-dark-1);
    }
  }

  .nav, .shape, .projects{
    background-color: var( --text-color-light);
  }

  .footer, .info, .contact {
    background-color: #f7f7f7; 
  }

  .header__image {
    background: radial-gradient(var(--bg-dark-1) 1px, var(--text-color-light) 1px);
    background-size: 15px 15px;

  }

  .container{
    color: var(--bg-dark-1);
    background-color: var( --text-color-light);
  }

  .container + .footer{
    background-color: var( --text-color-light);
    color: var(--bg-dark-1);
  }

  .adComponent{
    & button{
       &:hover{
         background: var(--text-color-light);
       }
    }

    & p{
      & > span{
        color: var(--contrast-color);
      }
    }
  }

  .form input, .form textarea{
    border: 2px solid var(--bg-dark-1);
  }
}

