.contact-form{
    width: 78vw;
    margin: 4rem auto;
    

}
.form{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 78vw;

   
    &__left, &__right{
        width: 38vw;
    }

    &__left{
        display: flex;
        flex-direction: column;
    }

    & input, & textarea{
        width: 100%;
        background-color: transparent;
        border: 2px solid var(--component-color);
        border-radius: 5px;
        color: var(--text-color-light);
        font-family: monospace;

    }

    & input:focus, & textarea:focus{
        border: 2px solid var(--link-color);
        box-shadow: 0px 1px 3px rgba(17, 16, 16, 0.8);
        outline: none;
    }

    & input{
        height: 5rem;
        margin-bottom: 1.5rem;
    }
    
    & textarea{
        outline: none  !important;
        resize: none;
        height: 11.5rem;
        margin-top: -10px;
        
    }
    /*To remove the weird red outline for required textarea in firefox*/
    & textarea:not(output):-moz-ui-invalid {
        box-shadow: none;
    }

    @media only screen and (max-width: 500px) {
        flex-direction: column;
  
        &__left, &__right{
          width: 100%;
        }
  
        & textarea{
            margin-top: 2px;
        }
  
    }
  


}


