.contact-form{
    width: 78vw;
    margin: 4rem auto;
    

}
.form{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 78vw;

   
    &__left, &__right{
        width: 32vw;
    }

    &__left{
        display: flex;
        flex-direction: column;
    }

    & input, & textarea{
        padding: 1rem;
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--white-secondary);
        border-radius: 5px;
        color: var(--text-color-light);
        font-family: monospace;
        font-size: 1.8rem;

    }

    & input:focus, & textarea:focus{
        border: 1.5px solid var(--link-color);
        outline: none;
    }

    & input{
        height: 8rem;
        margin-bottom: 1.5rem;
    }
    
    & textarea{
        outline: none  !important;
        resize: none;
        height: 17.5rem;
        margin-top: -10px;
        margin-left: 3rem ;
    }
    /*To remove the weird red outline for required textarea in firefox*/
    & textarea:not(output):-moz-ui-invalid {
        box-shadow: none;
    }

    @media only screen and (max-width: 500px) {
        flex-direction: column;
  
        &__left, &__right{
          width: 100%;
        }
  
        & textarea{
            margin-top: 2px;
        }
  
    }
  


}


