.blog-tagline{
    text-align:center;
    font-family: var(--secondary-font-family);
    background-color: var(--bg-dark-1);
    padding: 5px;
    border-top: 0.5px solid var(--component-color);
    /* & p{
        
    } */
}