.footer{
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:1.5rem;

    & p:nth-child(2){
       margin-top: 0;
    }
    & p:nth-child(1){
        margin-bottom: 1rem;
     }

}